.mapboxgl-control-container {
    display: none;
}

.top-menu-cont {
    text-align: center;
}

.search-cont {
    margin-top: 20px;
}

.search-date {
    margin-top: 12px;
}

.post-ride-btn-cont {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.post-comments {
    width: 100%
}

.post-button-options{
    margin-left: 23px;
    margin-top: 1%;
}

.post-menu {
    text-align:center;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.post-ride-tog {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .departure-search-cont, .date-search-cont, .destination-search-cont {
        padding-bottom: 6%;
    }
}

@media only screen and (min-width: 768px) {
    .post-ride-btn-cont {
        margin-top: 30px;
    }
}