.top-menu-cont {
    text-align: center;
}

.search-cont {
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: inline-flex;
    justify-content: space-between;
}

.departure-search-cont {
    width: 50%;
}

.destination-search-cont {
    width: 50%;
}

.date-search-cont {
    width: 33%;
}

.post-ride-btn-cont {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.post-comments {
    width: 100%
}

.post-ride-tog {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .search-cont {
        display: block;
    }

    .departure-search-cont, .date-search-cont, .destination-search-cont {
        padding-bottom: 6%;
    }
}